<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shawon.a6thproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TimePickerActivity" />
        <activity android:name=".DatePickerActivity" />
        <activity android:name=".floating_contect_menu" />
        <activity android:name=".ContextualActionActivity" />
        <activity android:name=".ListViewContextualActionActivity" />
        <activity android:name=".PopupMenuActivity" />
        <activity android:name=".MenuRadioButtonActivity" />
        <activity android:name=".SharedPreferencesActivity" />
        <activity android:name=".Contact_homeActivity" />
        <activity android:name=".AddContactActivity" />
        <activity android:name=".DataListActivity" />
        <activity android:name=".SerchDBActivity" />
        <activity android:name=".UpdateContactActivity"></activity>
    </application>

</manifest>